/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
}
 /*FIN RESET CSS*/



body {

	background-color: #E8E7E7;
 }

 /*FORMULAIRE*/
 

 

 
form {
	 padding:1em;
	 width:20em;
 }
fieldset {
	 padding:0 1.5em 1.5em 1.5em;
	 margin-bottom:1em;
	 border:3px solid #BDBDBD;
	 border-radius: 10px;
 }
legend {
	 color:#000000;
	 font-weight:bold
 }
label {
	 margin-top:1em;
	 display:block;
 }
label.inline {
	 display:inline;
	 margin-right:50px;
 }
input, textarea, select, option {
 	background-color:#FFFFFF;
 }
input, textarea, select {
	 padding:3px;
	 border:1px solid #BDBDBD;
	 border-radius:5px;
	 width:200px;
	 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 	margin-top:10px;
 }
input[type=radio] {
	 background-color:transparent;
	 border:none;
	 width:10px;
 }
input[type=submit], input[type=reset] {
	 width:100px;
	 margin-left:5px;
	 box-shadow:1px 1px 1px #BDBDBD;
	 cursor:pointer;
 }

/*MENU */
nav {
	position: relative;
	width: 100%;
	background:#CD0000;
	}
 
nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  width: 20%; 
}
 
nav ul li a {
  text-align: center;
  padding: 0.4em 0;
  display: block;
  width: 100%;
  background: #FE0101; /* Old browsers */
  background: -moz-linear-gradient(top, #FE0101 0%, #C70000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE0101), color-stop(100%,#C70000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FE0101 0%,#C70000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FE0101 0%,#C70000 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #FE0101 0%,#C70000 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE0101', endColorstr='#C70000',GradientType=0 ); /* IE6-9 */
  endColorstr='#C70000',GradientType=0 ); /* IE6-9 */
}
 
nav ul li a, nav ul li a:focus, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
  color: #E8E7E7;
  font-weight: bold;
  text-decoration: none; 
}
 
nav ul li a:hover, nav ul li a:active {
  background: #D40000; /* Old browsers */
  background: -moz-linear-gradient(top, #D40000 0%, #D20101 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D40000), color-stop(100%,#D20101)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #D40000 0%,#D20101 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #D40000 0%,#D20101 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #D40000 0%,#D20101 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D40000', endColorstr='#D20101',GradientType=0 ); /* IE6-9 */
}
 
nav ul li:first-child a {
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em; 
}

nav ul li:last-child a {
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em; 
}

/*HEADER*/
header{
	position: relative;
	background-color: #CD0000;
}

footer{
	position:absolute;
	display:block;
	width:100%;
	background-color: #CD0000;
	color: #FEFEFE;
	text-align:right;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
margin:auto;
	margin-bottom:0%;

}


.titre {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #FEFEFE;
	font-size: 4.5em;
	margin-left: 1%;
}

#page{
	background-color: #FFFFFF;
	margin-left:5%;
	margin-right:5%;
	padding: 2em;
	text-align:justify;

}


#loginPage{
	margin:auto;
	width:200px;
}
